/* Estilo general */
* {
    box-sizing: border-box;
}

/* Imagenes */
  .thumbnail {
    filter: grayscale(100%);
}

/* Datos de producto */
  .product-content .product-name,
  .product-content .product-price p {
      color: #000; 
  }

  .product-content .product-name {
    font-weight: 800;
    margin: 0;
    padding: 0;
  }
  
  .product-content .product-sold,
  .product-content .product-code,
  .product-content .product-rating p,
  .product-content .product-colors label,
  .product-content .product-quantity label {
      color: #666; 
  }
  
  .product-content .product-sold {
    margin: 0;
    padding: 0;
  }

  .product-content .product-rating p {
    display: inline;
  }

  .product-content .product-rating {
    margin: 0;
    padding: 0;
  }

  .product-content h2 {
      font-size: 1.5rem;
      font-weight: 300;
      color: #000;
  }
  
  .product-content .product-sold,
  .product-content .product-code {
      font-size: 0.8rem;
      color: #666;
  }
  
  .product-price p {
      font-size: 2rem;
      color: #000;
}
  
/* Botones */
   #seccion-botones {
    width: 100%;
  }

  .btn-primary {
    background-color: black; 
    border-color: black;
  }
  
  .btn-primary:hover {
    background-color: #666;
    border-color: #666;
  }

  
  #favBtn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    
    }

  #btn-add-to-cart {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    }

/* Detalles del producto - NAV */
  #myTab .nav-tabs {
      border: none; 
      border-bottom: 1px solid #333; 
  }
  
  #myTab .nav-link {
      color: #333;
      border: 1px solid transparent;
      transition: border-bottom 0.3s ease, font-size 0.3s ease;
  }
  
  #myTab .nav-link.active {
      font-size: 1.1rem; 
      border-bottom: 3px solid #333; 
      font-weight: 500;
      color: #000;
  }
  
  #myTab .nav-link:hover {
      font-weight: 500;
}
  
/* Ajuste del contenedor de comentarios*/

#commentsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#comments-section{
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Ajustes para las tarjetas de comentarios */
.comentario {
  flex: 1 1 100%; 
  margin: 10px; 
  box-sizing: border-box;
}  

/* Sección de calificaciones */
 .rating-star {
  background: rgb(240, 240, 241);
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 5px;
  border-radius: 5px;
  margin: 0 auto; 
  box-sizing: border-box;
  text-align: center;
  align-items: center; 
  justify-content: center; 
}

.star-icon {
  display: center;
  gap: 5px;
}

.star-input {
  display: none; 
}

/*HOVER Y COLOR DE ESTRELLAS*/

.star-icon label {
  font-size: 25px;
  cursor: pointer;
  color: yellow; /* Color base de las estrellas sin seleccionar */
}

/* Efecto hover sobre las estrellas */
.star-icon label:hover,
.star-icon label:hover ~ label {
  color: rgb(212, 212, 219); /* Cambia el color de la estrella seleccionada y las anteriores */
}

/* Estrellas seleccionadas y las anteriores a la seleccionada */
.star-icon input:checked + label,
.star-icon input:checked + label ~ label {
  color: rgb(212, 212, 219); /* Cambia el color de las estrellas seleccionadas y las anteriores */
}

.star-icon label:hover,
.star-icon input:checked+ label{
  color: yellow;
}  

/* Texto adicional */
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}
  